Repository deco8888/chrismastree-maker-test: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'npm run check-types', eslint src --ext .js,.ts --fix, eslint src --ext .jsx,.tsx --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,ts}": [
    "bash -c 'npm run check-types'",
    "eslint src --ext .js,.ts --fix"
  ],
  "*.{jsx,tsx}": [
    "bash -c 'npm run check-types'",
    "eslint src --ext .jsx,.tsx --fix",
    "prettier --write"
  ],
  "!(tsconfig|package)*/*.{md,mdx,json}": [
    "prettier --write"
  ],
  "*.scss": [
    "stylelint --fix",
    "prettier --write"
  ]
}

init
  README.md
  chrismastree-maker-test.code-workspace
  package-lock.json
  package.json
  src/app/create/page.module.scss
  src/app/create/page.tsx
  src/components/Create/index.module.scss
  src/components/Create/index.tsx
  src/components/Top/index.module.scss
  src/components/Top/index.tsx
  src/components/ui/Editor/index.tsx
  src/libs/firebase/config.ts
Due: bash -c 'npm run check-types', eslint src --ext .js,.ts --fix, eslint src --ext .jsx,.tsx --fix, prettier --write, stylelint --fix

3Dモデル設置・色変え(wip)
  .eslintrc
  chrismastree-maker-test.code-workspace
  next.config.mjs
  package-lock.json
  package.json
  public/assets/models/christmasTree.glb
  public/assets/models/decoration/ball.glb
  public/next.svg
  public/vercel.svg
  src/app/create/page.module.scss
  src/app/layout.module.scss
  src/app/layout.tsx
  src/components/Create/index.module.scss
  src/components/Create/index.tsx
  src/components/Top/index.module.scss
  src/components/ui/Editor/DecorationPreview/index.tsx
  src/components/ui/Editor/Model/Leaf/index.tsx
  src/components/ui/Editor/Model/index.module.scss
  src/components/ui/Editor/Model/index.tsx
  src/components/ui/Editor/data.tsx
  src/components/ui/Editor/index.module.scss
  src/components/ui/Editor/index.tsx
  src/hooks/useEditor/index.tsx
  src/types/christmasTree.d.ts
Due: bash -c 'npm run check-types', eslint src --ext .js,.ts --fix, eslint src --ext .jsx,.tsx --fix, prettier --write, stylelint --fix

wip
  package-lock.json
  package.json
  public/assets/models/christmasTree.glb
  public/assets/models/decoration/ball.glb
  src/app/layout.module.scss
  src/app/layout.tsx
  src/app/page.module.scss
  src/components/Top/index.module.scss
  src/components/Top/index.tsx
  src/components/fonts/index.tsx
  src/components/functional/AuthProvider/index.tsx
  src/components/ui/Editor/DecorationPreview/Controller/index.module.scss
  src/components/ui/Editor/DecorationPreview/Controller/index.tsx
  src/components/ui/Editor/DecorationPreview/index.tsx
  src/components/ui/Editor/Model/index.module.scss
  src/components/ui/Editor/Model/index.tsx
  src/components/ui/Editor/data.tsx
  src/components/ui/Editor/index.module.scss
  src/components/ui/Editor/index.tsx
  src/hooks/useEditor/index.tsx
  src/libs/firebase/auth.ts
  src/libs/firebase/config.ts
  src/styles/global/_function.scss
  src/styles/global/_variables.scss
  src/types/editor.d.ts
  src/types/user.d.ts
Due: bash -c 'npm run check-types', eslint src --ext .js,.ts --fix, eslint src --ext .jsx,.tsx --fix, prettier --write, stylelint --fix

wip
  public/assets/models/christsmastrree.blend
Due: none

update
  package-lock.json
  package.json
  public/assets/models/christmasTree.glb
  public/assets/models/christsmastrree.glb
  src/app/layout.tsx
  src/components/ui/Editor/DecorationPreview/Controller/index.module.scss
  src/components/ui/Editor/DecorationPreview/Controller/index.tsx
  src/components/ui/Editor/DecorationPreview/index.tsx
  src/components/ui/Editor/Model/Leaf/index.tsx
  src/components/ui/Editor/Model/index.tsx
  src/components/ui/Editor/Panel/index.module.scss
  src/components/ui/Editor/Panel/index.tsx
  src/components/ui/Editor/index.tsx
  src/hooks/useDecoration/index.tsx
  src/hooks/useEditor/index.tsx
  src/libs/arrayShuffle.ts
  src/types/editor.d.ts
Due: bash -c 'npm run check-types', eslint src --ext .js,.ts --fix, eslint src --ext .jsx,.tsx --fix, prettier --write, stylelint --fix

wip
  public/assets/models/christsmastrree.glb
  src/components/ui/Editor/Model/Leaf/index.tsx
  src/components/ui/Editor/Model/index.tsx
Due: bash -c 'npm run check-types', eslint src --ext .jsx,.tsx --fix, prettier --write

wip
  .firebaserc
  firebase.json
  firestore.indexes.json
  firestore.rules
  next.config.mjs
  package.json
  public/404.html
  public/index.html
  src/components/Top/index.tsx
  src/components/ui/Editor/DecorationPreview/index.tsx
  src/components/ui/Editor/Model/Leaf/index.tsx
  src/components/ui/Editor/Model/Star/index.tsx
  src/components/ui/Editor/Model/index.tsx
  src/components/ui/Editor/Panel/index.tsx
  src/components/ui/Editor/data.tsx
  src/components/ui/Editor/index.module.scss
  src/components/ui/Toast/LoginPrompt/index.module.scss
  src/components/ui/Toast/LoginPrompt/index.tsx
  src/components/ui/Toast/PostPrompt/index.module.scss
  src/components/ui/Toast/PostPrompt/index.tsx
  src/hooks/useEditor/index.tsx
Due: bash -c 'npm run check-types', eslint src --ext .jsx,.tsx --fix, prettier --write, stylelint --fix

wip
  public/assets/models/christmasTree.glb
  public/assets/models/christsmastrree.blend
  public/assets/models/christsmastrree.blend1
  public/assets/models/decoration/candy.glb
  src/components/ui/Editor/DecorationPreview/index.tsx
  src/components/ui/Editor/Panel/Controller/Ball/index.module.scss
  src/components/ui/Editor/Panel/Controller/Ball/index.tsx
  src/components/ui/Editor/Panel/Controller/Candy/index.module.scss
  src/components/ui/Editor/Panel/Controller/Candy/index.tsx
  src/components/ui/Editor/Panel/Controller/index.module.scss
  src/components/ui/Editor/Panel/Controller/index.tsx
  src/components/ui/Editor/Panel/index.module.scss
  src/components/ui/Editor/Panel/index.tsx
  src/components/ui/Editor/Preview/Decoration/index.tsx
  src/components/ui/Editor/Preview/Leaf/index.tsx
  src/components/ui/Editor/Preview/Star/index.tsx
  src/components/ui/Editor/Preview/index.module.scss
  src/components/ui/Editor/Preview/index.tsx
  src/components/ui/Editor/data.tsx
  src/components/ui/Editor/index.module.scss
  src/components/ui/Editor/index.tsx
  src/hooks/useEditor/index.tsx
  src/types/editor.d.ts
Due: bash -c 'npm run check-types', eslint src --ext .js,.ts --fix, eslint src --ext .jsx,.tsx --fix, prettier --write, stylelint --fix

wip
  package-lock.json
  package.json
  src/app/create/page.tsx
  src/app/list/page.module.scss
  src/app/list/page.tsx
  src/app/login/page.module.scss
  src/app/login/page.tsx
  src/components/Top/index.tsx
  src/components/functional/AuthGuard/index.tsx
  src/components/pages/Create/index.module.scss
  src/components/pages/Create/index.tsx
  src/components/pages/Login/index.module.scss
  src/components/pages/Login/index.tsx
  src/components/pages/Top/index.module.scss
  src/components/pages/Top/index.tsx
  src/components/ui/Editor/Panel/Controller/index.tsx
  src/components/ui/Editor/Preview/index.tsx
  src/components/ui/Editor/index.module.scss
  src/components/ui/Editor/index.tsx
  src/components/ui/Loading/index.module.scss
  src/components/ui/Loading/index.tsx
Due: bash -c 'npm run check-types', eslint src --ext .jsx,.tsx --fix, prettier --write, stylelint --fix

wip
  .gitignore
  firebase.json
  next.config.mjs
  public/assets/models/christmasTree.glb
  src/app/trees/page.module.scss
  src/app/trees/page.tsx
  src/components/ui/Editor/Preview/Decoration/index.tsx
  src/components/ui/Editor/Preview/index.tsx
  src/hooks/useDecorationRotation/index.tsx
  src/hooks/useEditor/index.tsx
  src/libs/firebase/config.ts
  src/types/editor.d.ts
Due: bash -c 'npm run check-types', eslint src --ext .js,.ts --fix, eslint src --ext .jsx,.tsx --fix, prettier --write, stylelint --fix

wip
  package-lock.json
  package.json
  public/assets/models/christmasTree.glb
  src/components/pages/Login/index.tsx
  src/components/pages/Top/index.tsx
  src/components/ui/Editor/Panel/Controller/index.tsx
  src/components/ui/Editor/Panel/index.tsx
  src/components/ui/Editor/Preview/index.tsx
  src/components/ui/Toast/LoginPrompt/index.tsx
  src/hooks/useDecoration/index.tsx
  src/hooks/useEditor/index.tsx
  src/hooks/useFirestoreService/index.ts
  src/libs/firebase/config.ts
  src/libs/firebase/service/base.ts
  src/libs/firebase/service/tree.ts
  src/libs/schema/treeData.ts
  src/types/editor.d.ts
Due: bash -c 'npm run check-types', eslint src --ext .js,.ts --fix, eslint src --ext .jsx,.tsx --fix, prettier --write

wip
  src/components/ui/Editor/Panel/index.tsx
  src/components/ui/Editor/Preview/index.tsx
Due: bash -c 'npm run check-types', eslint src --ext .jsx,.tsx --fix, prettier --write

wip
  firebase.json
  firestore.rules
  public/404.html
  public/index.html
  src/libs/firebase/config.ts
Due: bash -c 'npm run check-types', eslint src --ext .js,.ts --fix

wip
  src/app/layout.tsx
Due: bash -c 'npm run check-types', eslint src --ext .jsx,.tsx --fix, prettier --write

emulator 一旦停止
  src/libs/firebase/config.ts
Due: bash -c 'npm run check-types', eslint src --ext .js,.ts --fix

wip
  .firebaserc
  .gitignore
  _redirects.json
  firebase.json
  next.config.mjs
  public/404.html
  public/assets/models/christmasTree.glb
  public/index.html
  src/app/layout.tsx
  src/components/pages/Login/index.tsx
  src/components/ui/Editor/Preview/Decoration/index.tsx
  src/hooks/useEditor/index.tsx
Due: bash -c 'npm run check-types', eslint src --ext .jsx,.tsx --fix, prettier --write

wip
  package-lock.json
  package.json
  public/assets/models/christmasTree.glb
  public/assets/models/decoration/candy.glb
  src/components/ui/Editor/Preview/Decoration/index.tsx
  src/components/ui/Editor/Preview/index.tsx
  src/components/ui/Editor/index.tsx
  src/hooks/useEditor/index.tsx
  src/libs/gui.tsx
  src/types/editor.d.ts
Due: bash -c 'npm run check-types', eslint src --ext .js,.ts --fix, eslint src --ext .jsx,.tsx --fix, prettier --write

wip
  src/components/ui/Editor/Preview/Decoration/index.tsx
  src/components/ui/Editor/Preview/index.tsx
  src/components/ui/Editor/data.tsx
  src/components/ui/Editor/index.tsx
  src/hooks/useEditor/index.tsx
  src/libs/loadModels.ts
Due: bash -c 'npm run check-types', eslint src --ext .js,.ts --fix, eslint src --ext .jsx,.tsx --fix, prettier --write

wip
  src/app/layout.tsx
  src/components/ui/Editor/Panel/Controller/index.module.scss
  src/components/ui/Editor/Panel/Controller/index.tsx
  src/components/ui/Editor/Panel/index.module.scss
  src/components/ui/Editor/Panel/index.tsx
  src/components/ui/Editor/Preview/Decoration/index.tsx
  src/components/ui/Editor/Preview/index.tsx
  src/hooks/useEditor/index.tsx
  src/libs/gui.tsx
  src/libs/schema/treeData.ts
  src/types/editor.d.ts
  src/types/util.d.ts
Due: bash -c 'npm run check-types', eslint src --ext .js,.ts --fix, eslint src --ext .jsx,.tsx --fix, prettier --write, stylelint --fix

wip
  src/components/ui/Editor/Panel/Controller/index.tsx
Due: bash -c 'npm run check-types', eslint src --ext .jsx,.tsx --fix, prettier --write

wip
  src/components/functional/AuthGuard/index.tsx
  src/components/functional/AuthProvider/index.tsx
  src/components/ui/Editor/Panel/Controller/index.tsx
  src/components/ui/Editor/Panel/index.tsx
  src/components/ui/Editor/Preview/Leaf/index.tsx
  src/components/ui/Editor/Preview/Star/index.tsx
  src/components/ui/Editor/index.tsx
  src/hooks/useEditor/index.tsx
Due: bash -c 'npm run check-types', eslint src --ext .jsx,.tsx --fix, prettier --write

wip
  src/app/layout.tsx
  src/components/functional/AuthGuard/index.tsx
  src/components/ui/Editor/index.tsx
  src/components/ui/Loading/index.module.scss
  src/components/ui/Loading/index.tsx
Due: bash -c 'npm run check-types', eslint src --ext .jsx,.tsx --fix, prettier --write, stylelint --fix

wip
  firestore.indexes.json
  src/components/ui/Editor/Panel/index.tsx
  src/components/ui/Editor/index.tsx
  src/components/ui/Modal/SaveCompleteModal/index.tsx
  src/components/ui/Modal/SaveCompleteModal/style.module.scss
  src/components/ui/Modal/index.tsx
  src/hooks/useGlobal/index.tsx
  src/libs/firebase/service/tree.ts
  src/types/firebase/chrestmasTree.d.ts
Due: bash -c 'npm run check-types', eslint src --ext .js,.ts --fix, eslint src --ext .jsx,.tsx --fix, prettier --write, stylelint --fix

wip
  src/app/layout.tsx
  src/components/fonts/index.tsx
  src/components/pages/Top/index.module.scss
  src/components/ui/Editor/Panel/index.module.scss
  src/components/ui/Editor/Panel/index.tsx
  src/components/ui/Editor/Preview/index.tsx
  src/components/ui/Modal/SaveCompleteModal/index.tsx
  src/components/ui/Modal/SaveCompleteModal/style.module.scss
  src/hooks/useEditor/index.tsx
  src/hooks/useGlobal/index.tsx
  src/libs/captureHandler/index.tsx
  src/libs/firebase/service/tree.ts
  src/libs/schema/treeData.ts
  src/styles/global/_variables.scss
  src/types/firebase/chrestmasTree.d.ts
Due: bash -c 'npm run check-types', eslint src --ext .js,.ts --fix, eslint src --ext .jsx,.tsx --fix, prettier --write, stylelint --fix

wip
  src/components/ui/Editor/Preview/index.tsx
Due: bash -c 'npm run check-types', eslint src --ext .jsx,.tsx --fix, prettier --write

wip
  public/assets/models/christmasTree.glb
  public/assets/models/decoration/present.glb
  src/components/ui/Editor/Preview/index.tsx
Due: bash -c 'npm run check-types', eslint src --ext .jsx,.tsx --fix, prettier --write

wip
  public/assets/models/christmasTree.glb
Due: none

delete
  public/assets/models/christsmastrree.blend
  public/assets/models/christsmastrree.blend1
Due: none

wip
  src/components/ui/Editor/Panel/Controller/index.tsx
  src/components/ui/Editor/Panel/index.module.scss
  src/components/ui/Editor/Preview/index.tsx
Due: bash -c 'npm run check-types', eslint src --ext .jsx,.tsx --fix, prettier --write, stylelint --fix

wip
  src/components/ui/Editor/Panel/index.tsx
  src/components/ui/Editor/Preview/index.tsx
  src/libs/convert/index.ts
  src/libs/firebase/config.ts
  src/libs/firebase/storage.ts
  src/types/file.d.ts
Due: bash -c 'npm run check-types', eslint src --ext .js,.ts --fix, eslint src --ext .jsx,.tsx --fix, prettier --write

wip
  firebase.json
  src/components/ui/Editor/Panel/index.tsx
  src/components/ui/Editor/Preview/index.tsx
  src/components/ui/Modal/SaveCompleteModal/index.tsx
  src/libs/firebase/storage.ts
  src/types/firebase/chrestmasTree.d.ts
  storage.rules
Due: bash -c 'npm run check-types', eslint src --ext .js,.ts --fix, eslint src --ext .jsx,.tsx --fix, prettier --write

wip
  .firebaserc
  firebase.json
  next.config.mjs
  public/viewer/template.html
  public/viewer/tsconfig.json
  public/viewer/viewr.ts
  src/app/trees/page.tsx
  src/components/pages/Trees/index.module.scss
  src/components/pages/Trees/index.tsx
  src/components/ui/Editor/Panel/index.tsx
  src/components/ui/Modal/SaveCompleteModal/index.tsx
Due: bash -c 'npm run check-types', eslint src --ext .js,.ts --fix, eslint src --ext .jsx,.tsx --fix, prettier --write, stylelint --fix

wip
  .eslintrc
  package.json
  public/viewer/tsconfig.viewer.json
  public/viewer/viewer.ts
  public/viewer/viewr.ts
  scripts/viewer.js
  src/app/layout.tsx
  tsconfig.json
Due: bash -c 'npm run check-types', eslint src --ext .js,.ts --fix, eslint src --ext .jsx,.tsx --fix, prettier --write

wip
  cors.json
  firebase.json
  firestore.indexes.json
  package.json
  public/viewer/template.html
  public/viewer/tsconfig.viewer.json
  src/components/ui/Editor/Panel/index.tsx
Due: bash -c 'npm run check-types', eslint src --ext .jsx,.tsx --fix, prettier --write
